// based color palette:
// https://material.io/guidelines/style/color.html#color-color-palette


//
// A Color palette
//
// Pop uses the System76 palette

$almost_white:      #FBF1C7;
$warm_gray:         #504945;
$dark_gray:         #504945;
$dark_neutral_gray: #32302F;
$light_gray:        #A89984;
$literally_black:   #000;
$medium_gray:       #928374;
$white:             #F9F5D7;


// Brand Colors
$orange: #D65D0E;
$blue:   #458588;
$yellow: #D79921;
$red:    #CC241D;
$green:  #98971A;


// Extra Colors that need to be set according to the themes
$pink: #A02B52;
$purple: #B16286;
$deep_purple: #8F3F71;
$indigo: #076678;
$light_blue: #83A598;
$cyan: #00BCD4;
$teal: #689D6A;
$light_green: #B8BB26;
$lime: #79740E;
$amber: #FABD2F;
$deep_orange: #AF3A03;
$blue_grey: #607D8B;
$grey: #928374;

// Red
$red_50: lighten($red, 90%);
$red_100: lighten($red, 80%);
$red_200: lighten($red, 60%);
$red_300: lighten( $red, 40%);
$red_400: lighten($red, 20%);
$red_500: $red;
$red_600: darken($red, 20%);
$red_700: darken($red, 40%);
$red_800: darken($red, 60%);
$red_900: darken($red, 80%);
$red_A100: lighten($red, 50%);
$red_A200: $red;
$red_A400: darken($red, 15%);
$red_A700: darken($red, 75%);

// Pink
$pink_50: lighten($pink, 90%);
$pink_100: lighten($pink, 80%);
$pink_200: lighten($pink, 60%);
$pink_300: lighten($pink, 40%);
$pink_400: lighten($pink, 20%);
$pink_500: $pink;
$pink_600: darken($pink, 20%);
$pink_700: darken($pink, 40%);
$pink_800: darken($pink, 60%);
$pink_900: darken($pink, 80%);
$pink_A100: lighten($pink, 50%);
$pink_A200: $pink;
$pink_A400: darken($pink, 15%);
$pink_A700: darken($pink, 75%);

// Purple
$purple_50: lighten($purple, 90%);
$purple_100: lighten($purple, 80%);
$purple_200: lighten($purple, 60%);
$purple_300: lighten($purple, 40%);
$purple_400: lighten($purple, 20%);
$purple_500: $purple;
$purple_600: darken($purple, 20%);
$purple_700: darken($purple, 40%);
$purple_800: darken($purple, 60%);
$purple_900: darken($purple, 80%);
$purple_A100: lighten($purple, 50%);
$purple_A200: $purple;
$purple_A400: darken($purple, 15%);
$purple_A700: darken($purple, 75%);

// Deep Purple
$deep_purple_50: lighten($deep_purple, 90%);
$deep_purple_100: lighten($deep_purple, 80%);
$deep_purple_200: lighten($deep_purple, 60%);
$deep_purple_300: lighten($deep_purple, 40%);
$deep_purple_400: lighten($deep_purple, 20%);
$deep_purple_500: $deep_purple;
$deep_purple_600: darken($deep_purple, 20%);
$deep_purple_700: darken($deep_purple, 40%);
$deep_purple_800: darken($deep_purple, 60%);
$deep_purple_900: darken($deep_purple, 80%);
$deep_purple_A100: lighten($deep_purple, 50%);
$deep_purple_A200: $deep_purple;
$deep_purple_A400: darken($deep_purple, 15%);
$deep_purple_A700: darken($deep_purple, 75%);

// Indigo
$indigo_50: lighten($indigo, 90%);
$indigo_100: lighten($indigo, 80%);
$indigo_200: lighten($indigo, 60%);
$indigo_300: lighten($indigo, 40%);
$indigo_400: lighten($indigo, 20%);
$indigo_500: $indigo;
$indigo_600: darken($indigo, 20%);
$indigo_700: darken($indigo, 40%);
$indigo_800: darken($indigo, 60%);
$indigo_900: darken($indigo, 80%);
$indigo_A100: lighten($indigo, 50%);
$indigo_A200: $indigo;
$indigo_A400: darken($indigo, 15%);
$indigo_A700: darken($indigo, 75%);

// Blue
$blue_50: lighten($blue, 90%);
$blue_100: lighten($blue, 80%);
$blue_200: lighten($blue, 60%);
$blue_300: lighten( $blue, 40%);
$blue_400: lighten($blue, 20%);
$blue_500: $blue;
$blue_600: darken($blue, 20%);
$blue_700: darken($blue, 40%);
$blue_800: darken($blue, 60%);
$blue_900: darken($blue, 80%);
$blue_A100: lighten($blue, 50%);
$blue_A200: $blue;
$blue_A400: darken($blue, 15%);
$blue_A700: darken($blue, 75%);

// Light Blue
$light_blue_50: lighten($light_blue, 90%);
$light_blue_100: lighten($light_blue, 80%);
$light_blue_200: lighten($light_blue, 60%);
$light_blue_300: lighten($light_blue, 40%);
$light_blue_400: lighten($light_blue, 20%);
$light_blue_500: $light_blue;
$light_blue_600: darken($light_blue, 20%);
$light_blue_700: darken($light_blue, 40%);
$light_blue_800: darken($light_blue, 60%);
$light_blue_900: darken($light_blue, 80%);
$light_blue_A100: lighten($light_blue, 50%);
$light_blue_A200: $light_blue;
$light_blue_A400: darken($light_blue, 15%);
$light_blue_A700: darken($light_blue, 75%);

// Cyan
$cyan_50: lighten($cyan, 90%);
$cyan_100: lighten($cyan, 80%);
$cyan_200: lighten($cyan, 60%);
$cyan_300: lighten($cyan, 40%);
$cyan_400: lighten($cyan, 20%);
$cyan_500: $cyan;
$cyan_600: darken($cyan, 20%);
$cyan_700: darken($cyan, 40%);
$cyan_800: darken($cyan, 60%);
$cyan_900: darken($cyan, 80%);
$cyan_A100: lighten($cyan, 50%);
$cyan_A200: $cyan;
$cyan_A400: darken($cyan, 15%);
$cyan_A700: darken($cyan, 75%);

// Teal
$teal_50: lighten($teal, 90%);
$teal_100: lighten($teal, 80%);
$teal_200: lighten($teal, 60%);
$teal_300: lighten($teal, 40%);
$teal_400: lighten($teal, 20%);
$teal_500: $teal;
$teal_600: darken($teal, 20%);
$teal_700: darken($teal, 40%);
$teal_800: darken($teal, 60%);
$teal_900: darken($teal, 80%);
$teal_A100: lighten($teal, 50%);
$teal_A200: $teal;
$teal_A400: darken($teal, 15%);
$teal_A700: darken($teal, 75%);

// Green
$green_50: lighten($green, 90%);
$green_100: lighten($green, 80%);
$green_200: lighten($green, 60%);
$green_300: lighten( $green, 40%);
$green_400: lighten($green, 20%);
$green_500: $green;
$green_600: darken($green, 20%);
$green_700: darken($green, 40%);
$green_800: darken($green, 60%);
$green_900: darken($green, 80%);
$green_A100: lighten($green, 50%);
$green_A200: $green;
$green_A400: darken($green, 15%);
$green_A700: darken($green, 75%);

// Light Green
$light_green_50: lighten($light_green, 90%);
$light_green_100: lighten($light_green, 80%);
$light_green_200: lighten($light_green, 60%);
$light_green_300: lighten($light_green, 40%);
$light_green_400: lighten($light_green, 20%);
$light_green_500: $light_green;
$light_green_600: darken($light_green, 20%);
$light_green_700: darken($light_green, 40%);
$light_green_800: darken($light_green, 60%);
$light_green_900: darken($light_green, 80%);
$light_green_A100: lighten($light_green, 50%);
$light_green_A200: $light_green;
$light_green_A400: darken($light_green, 15%);
$light_green_A700: darken($light_green, 75%);

// Lime
$lime_50: lighten($lime, 90%);
$lime_100: lighten($lime, 80%);
$lime_200: lighten($lime, 60%);
$lime_300: lighten($lime, 40%);
$lime_400: lighten($lime, 20%);
$lime_500: $lime;
$lime_600: darken($lime, 20%);
$lime_700: darken($lime, 40%);
$lime_800: darken($lime, 60%);
$lime_900: darken($lime, 80%);
$lime_A100: lighten($lime, 50%);
$lime_A200: $lime;
$lime_A400: darken($lime, 15%);
$lime_A700: darken($lime, 75%);

// Yellow
$yellow_50: lighten($yellow, 90%);
$yellow_100: lighten($yellow, 80%);
$yellow_200: lighten($yellow, 60%);
$yellow_300: lighten( $yellow, 40%);
$yellow_400: lighten($yellow, 20%);
$yellow_500: $yellow;
$yellow_600: darken($yellow, 20%);
$yellow_700: darken($yellow, 40%);
$yellow_800: darken($yellow, 60%);
$yellow_900: darken($yellow, 80%);
$yellow_A100: lighten($yellow, 50%);
$yellow_A200: $yellow;
$yellow_A400: darken($yellow, 15%);
$yellow_A700: darken($yellow, 75%);

// Amber
$amber_50: lighten($amber, 90%);
$amber_100: lighten($amber, 80%);
$amber_200: lighten($amber, 60%);
$amber_300: lighten($amber, 40%);
$amber_400: lighten($amber, 20%);
$amber_500: $amber;
$amber_600: darken($amber, 20%);
$amber_700: darken($amber, 40%);
$amber_800: darken($amber, 60%);
$amber_900: darken($amber, 80%);
$amber_A100: lighten($amber, 50%);
$amber_A200: $amber;
$amber_A400: darken($amber, 15%);
$amber_A700: darken($amber, 75%);

// Orange
$orange_50: lighten($orange, 90%);
$orange_100: lighten($orange, 80%);
$orange_200: lighten($orange, 60%);
$orange_300: lighten( $orange, 40%);
$orange_400: lighten($orange, 20%);
$orange_500: $orange;
$orange_600: darken($orange, 20%);
$orange_700: darken($orange, 40%);
$orange_800: darken($orange, 60%);
$orange_900: darken($orange, 80%);
$orange_A100: lighten($orange, 50%);
$orange_A200: $orange;
$orange_A400: darken($orange, 15%);
$orange_A700: darken($orange, 75%);

// Deep Orange
$deep_orange_50: lighten($deep_orange, 90%);
$deep_orange_100: lighten($deep_orange, 80%);
$deep_orange_200: lighten($deep_orange, 60%);
$deep_orange_300: lighten($deep_orange, 40%);
$deep_orange_400: lighten($deep_orange, 20%);
$deep_orange_500: $deep_orange;
$deep_orange_600: darken($deep_orange, 20%);
$deep_orange_700: darken($deep_orange, 40%);
$deep_orange_800: darken($deep_orange, 60%);
$deep_orange_900: darken($deep_orange, 80%);
$deep_orange_A100: lighten($deep_orange, 50%);
$deep_orange_A200: $deep_orange;
$deep_orange_A400: darken($deep_orange, 15%);
$deep_orange_A700: darken($deep_orange, 75%);

// Brown
$brown_50: lighten($warm_gray, 97%);
$brown_100: lighten($warm_gray, 90%);
$brown_200: lighten($warm_gray, 75%);
$brown_300: lighten( $warm_gray, 60%);
$brown_400: lighten($warm_gray, 45%);
$brown_500: lighten($warm_gray, 30%);
$brown_600: lighten($warm_gray, 15%);
$brown_700: $warm_gray;
$brown_800: darken($warm_gray, 15%);
$brown_900: darken($warm_gray, 30%);

// Grey
$grey_50: lighten($grey, 97%);
$grey_100: lighten($grey, 90%);
$grey_200: lighten($grey, 75%);
$grey_300: lighten($grey, 60%);
$grey_400: lighten($grey, 45%);
$grey_500: lighten($grey, 30%);
$grey_600: lighten($grey, 15%);
$grey_700: $grey;
$grey_800: darken($grey, 15%);
$grey_900: darken($grey, 30%);

// Blue Grey
$blue_grey_50: #ECEFF1;
$blue_grey_100: #CFD8DC;
$blue_grey_200: #B0BEC5;
$blue_grey_300: #90A4AE;
$blue_grey_400: #78909C;
$blue_grey_500: #607D8B;
$blue_grey_600: #546E7A;
$blue_grey_700: #455A64;
$blue_grey_800: #37474F;
$blue_grey_900: #263238;

// Black
$black: #1D2021;

// White
$white: #F9F5D7;
